@model HTTLVN.QLTLH.Models.QuanHeVoiGiaoPham

@{
    ViewBag.Title = "Delete";
}

<form method="post" class="form-horizontal form-box" enctype="multipart/form-data"  id="basic-wizard">
    <h4 class="form-box-header">Bạn có chắc xóa nội dung sau?</h4>
    <div class="form-box-content">
        <div id="first" class="step">
            <div class="form-group">
                <label class="control-label col-md-2">Họ và tên</label>
                <div class="col-md-2">
                    <p class="form-control-static">
                    @Html.HiddenFor(model => model.ClergyId)
                       
                         @Model.HoTen
                    </p>
                </div>
            </div>    
            <div class="form-group">
                <label class="control-label col-md-2">@Html.LabelFor(model => model.YearOfBirth, "Năm sinh")</label>
                <div class="col-md-1">
                    <p class="form-control-static">
                        @Model.YearOfBirth
                    </p>
                </div>
                <label class="control-label col-md-1">@Html.LabelFor(model => model.NgheNghiep, "Nghề nghiệp")</label>
                <div class="col-md-1">
                    <p class="form-control-static">
                        @Model.NgheNghiep
                    </p>
                </div>
            </div>    
            <div class="form-group">
                <label class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <input type="submit" value="Xóa"  class="btn btn-primary"/>  
                    <a href="@Url.Content(string.Format("~/home/MucsuThongTinGiaDinh/{0}", Model.ClergyId))" class="btn btn-primary">Hủy</a></div>
            </div>
        </div>
        </div>
</form>