@using HTTLVN.QLTLH.Models
@using iTextSharp.text.pdf.qrcode
@model HTTLVN.QLTLH.Models.Church
@{
    var erros = (Dictionary<string,string>)ViewBag.Errors;
    var messages = (List<string>)ViewBag.Message;
    string imagePath = !string.IsNullOrEmpty(Model.AnhDaiDien) ? Model.AnhDaiDien : "~/Content/Content/img/placeholders/image_dark_64x64.png";
}
<form method="post" class="form-horizontal form-box" enctype="multipart/form-data"  id="basic-wizard">
    <h4 class="form-box-header">Thông tin giáo sở :
        <a class="btn btn-info" href="@Url.Content("~/NhiemSo/ChiTietNhiemSo/" + @Model.Id)">@Model.ChurchName</a>
    </h4>
    <div class="form-box-content">
        
        <div id="first" class="step">
            <div class="wizard-steps row">
                <div class="col-md-3 text-center">
                    @if(Model.Id>0)
                    {
                        <a href="/NhiemSo/ChinhSuaNhiemSo/@Model.Id">1. Thông tin cơ bản</a>    
                    }else
                    {
                        <a href="javascript:void(0)">1. Thông tin cơ bản</a> 
                    }
                </div>
                <div class="col-md-3 text-center">
                    @Html.HiddenFor(a => a.Id)
                    @if (Model.Id > 0)
                    {
                        <a href="/NhiemSo/QuaTrinhThanhLap/@Model.Id">2. Lược sử hội thánh</a>    
                    }else
                    {
                        <a href="javascript:void(0)">2. Lược sử hội thánh</a> 
                    }
                </div>
                <div class="col-md-3 text-center active">3. Tài sản hội thánh</div>
            </div>
            
            @Html.Kendo().Grid(Model.Church_TAISAN).Name("chucdanh_giaopham").Columns(columns =>
                {
                    columns.Bound(o => o.Id).Template(
                        @<text>
                            <a href="@Url.Content("~/Home/MucSuDetail/" + item.Id)"><span class='capital'>   @item.Content </span></a>
                        </text>)
                .Column.Title = "Loại tài sản";
                    columns.Bound(o => o.DateApproval).Column.Title = "Ngày có hiệu lực";
                    columns.Bound(o => o.AttachFile).Template(
                        @<text>
                            @if (!string.IsNullOrEmpty(item.AttachFile) && !string.IsNullOrEmpty(item.AttachFile))
                            {
                                <a href="@Url.Content(string.Format("{0}?iframe=true&width=90%&height=100%", item.AttachFile))" rel="prettyPhoto[iframe]"><button class='btn btn-xs btn-info'>@item.AttachFile</button> </a>
                            }
                        </text>).HtmlAttributes(new { @style = "text-align:left" }).Column.Title = "Số văn bản";
                    columns.Command(commands => commands.Custom("Edit").Text("Chỉnh sửa").DataRouteValues(route => route.Add(o => o.Id).RouteKey("Id")).Action("EditTaiSanHoiThanh", "NhiemSo")).Width(120);
                    columns.Command(commands => commands.Custom("Delete").Text("Xóa").DataRouteValues(route => route.Add(o => o.Id).RouteKey("Id")).Action("DeleteTaiSanHoiThanh", "NhiemSo")).Width(80);
                })
            <br/>
            <a class="btn-success btn" href="@Url.Content("~/NhiemSo/AddTaiSanHoiTHanh/" + @Model.Id)">Thêm</a>
            <br /><br />
        </div>
    </div>
</form>
<style>
    label input[type="file"] {
        position: fixed;
        top: -1000px;
    }
</style>
    
<script type="text/javascript" language="javascript">
    function chinhsua(id) {
        $("#dialog."+id).kendoWindow({
            content: 'http://localhost:60316/NhiemSo/ThemTaiSanHoiThanh/'+id,
            autoFocus: true,
            iframe: true,
            width:800,height:800,
            minHeight: 600, minWidth: 500,
           
        });
    }
    function readURL(input) {
        if (input.files && input.files[0]) {//Check if input has files.
            var reader = new FileReader(); //Initialize FileReader.
            reader.onload = function (e) {
                $('#txtChungChi').attr('value', input.files[0].name);
            };
            reader.readAsDataURL(input.files[0]);
        }
        else {
            $('#txtChungChi').attr('placeholder', "Chưa chọn chứng chỉ");
        }
    }
    $(document).ready(function () {
        $("area[rel^='prettyPhoto']").prettyPhoto();

        $("a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'fast', theme: 'light_square', slideshow: 3000, hideflash: true, social_tools: false });
    });
</script>