@using HTTLVN.QLTLH.Models
@model HTTLVN.QLTLH.Models.Clergy
<form method="post" class="form-horizontal form-box" enctype="multipart/form-data" id="basic-wizard">
    <h4 class="form-box-header">Thông tin giáo phẩm :
    @{
        var giaopham = ViewBag.GiaoPham as Clergy;
        var viewAssign = (List<v_assign>)ViewBag.Assign;
    }
    <a  class="capital" href="@Url.Content(string.Format("~/Home/MucSuDetail/{0}", giaopham.Id))" style="color:#DB4A39">@giaopham.FirstName @giaopham.MiddleName @giaopham.LastName</a></h4>
	<div class="form-box-content">
	    <div class="wizard-steps row">
	        <div class="col-md-3 text-center"><a href="/Home/MucsuThongTin/@Model.Id">1. Thông tin cá nhân </a></div>
	        <div class="col-md-3 text-center active">
	            2. Thông tin chức vụ 
	        </div>
	        <div class="col-md-3 text-center active"><a href="/Home/MucsuThongTinGiaDinh/@Model.Id">3. Thông tin gia đình</a></div>
	        <input type="hidden" value="@ViewBag.GiaoPhamId" name="GiaoPhamId"/>
	    </div>
        <div class="panel panel-default">
            <header class="panel-heading">
                <div class="panel-actions">
                   
                </div>
                <h2 class="panel-title">Quá trình học thần học</h2> 
            </header>
           
          <div class="panel-body">
           @if (Model.Clergy_Education.Count > 0)
        {
                @Html.Kendo().Grid(Model.Clergy_Education).Sortable(a=>a.Enabled(true).AllowUnsort(true)).Name("quatrinhthanhoc").Columns(columns =>
                {
                    columns.Bound(o => o.CollegeOrProgramme).Column.Title = "Chương trình Thần học";
                    columns.Bound(o => o.NoiChungNhan).Column.Title = "Nơi học/Nơi chứng nhận";
                    columns.Bound(o => o.FromDate).Format("{0:dd/MM/yyyy}").Column.Title = "Từ năm";
                    columns.Bound(o => o.ToDate).Format("{0:dd/MM/yyyy}").Column.Title = "Đến năm";
                    columns.Bound(o => o.Degree).Format("{0:dd/MM/yyyy}").Column.Title = "Khóa học";
                    columns.Bound(o => o.Id).Template(
                        @<text>
                             @if (!string.IsNullOrWhiteSpace(item.Paper))
                             {
                                 <a href="@Url.Content(string.Format("{0}?iframe=true&width=90%&height=100%", item.Paper))" rel="prettyPhoto[iframe]"><button class='btn btn-xs btn-info'>@Helper.HumanRead(item.Paper)</button> </a>
                             }
                         </text>).Column.Title = "Văn bằng";
                    columns.Command(commands => commands.Custom("Edit").Text("Chỉnh sửa").DataRouteValues(route => route.Add(o => o.Id).RouteKey("Id")).Action("Edit", "Quatrinhthanhoc")).Width(120);
                    columns.Command(commands => commands.Custom("Delete").Text("Xóa").DataRouteValues(route => route.Add(o => o.Id).RouteKey("Id")).Action("Delete", "Quatrinhthanhoc")).Width(80);
                })
        }
            <br/>  <a href="@Url.Content(string.Format("~/QuaTrinhThanHoc/Create?cleargyid={0}", Model.Id))" class="btn-success btn" >Thêm quá trình học thần học</a>     
          </div>
        </div>
	     <div class="panel panel-default">
            <header class="panel-heading">
               <div class="panel-actions">
					<a href="#" class="fa fa-caret-down"></a>
				</div>
                <h2 class="panel-title">Được công nhận chức danh/tấn phong</h2> 
            </header>
	         <div class="panel-body">
	            @if (Model.Clergy_TitleHistory.Count > 0)
                 {
                    @Html.Kendo().Grid(Model.Clergy_TitleHistory).Sortable(a => a.Enabled(true).AllowUnsort(true)).Name("chucdanh_giaopham").Columns(columns =>
                    {
                        columns.Bound(o => o.ClergyTitle.Title).Column.Title = "Chức danh";
                        columns.Bound(o => o.EffectiveDate).HtmlAttributes(new { @style = "text-align:left" }).Format("{0:dd/MM/yyyy}").Column.Title = "Ngày có hiệu lực";
                        columns.Bound(o => o.DocumentNumber).Template(
                            @<text>
                                 @if (!string.IsNullOrWhiteSpace(item.RequestPaper))
                                 {
                                     <a href="@Url.Content(string.Format("{0}?iframe=true&width=90%&height=100%", item.RequestPaper))" rel="prettyPhoto[iframe]"><button class='btn btn-xs btn-info'>@item.DocumentNumber</button> </a>
                                 }
                             </text>).HtmlAttributes(new { @style = "text-align:left" }).Column.Title = "Số biên bản";
                        columns.Bound(o => o.DecisionNumber).Template(
                            @<text>@if (!string.IsNullOrWhiteSpace(item.ApprovalPaper))
                                   {
                                       <a href="@Url.Content(string.Format("{0}?iframe=true&width=90%&height=100%", item.ApprovalPaper))"  rel="prettyPhoto[iframe]"><button class='btn btn-xs btn-info'>@item.DecisionNumber</button> </a>
                                   }
                                  </text>).HtmlAttributes(new { @style = "text-align:left" }).Column.Title = "Số công văn";
                        columns.Command(commands => commands.Custom("Edit").Text("Chỉnh sửa").DataRouteValues(route => route.Add(o => o.id).RouteKey("Id")).Action("Edit", "Admin/Clergy_TitleHistory")).Width(120);
                        columns.Command(commands => commands.Custom("Delete").Text("Xóa").DataRouteValues(route => route.Add(o => o.id).RouteKey("Id")).Action("Delete", "Admin/Clergy_TitleHistory")).Width(80);
                    })
                 }
                <br/> <a href="@Url.Content(string.Format("~/Admin/Clergy_TitleHistory/Create?cleargyid={0}", Model.Id))" class="btn-success btn" >Thêm công nhận chức danh</a>     
	         </div>
            </div>
	   
        <div class="panel panel-default">
            <header class="panel-heading">
               <div class="panel-actions">
					<a href="#" class="fa fa-caret-down"></a>
				</div>
                <h2 class="panel-title">Được nhận nhiệm sở</h2> 
            </header>
            <div class="panel-body">
                @if (viewAssign.Count > 0)
                {
                        @Html.Kendo().Grid(viewAssign).Name("bonhiemGiaoPHam").Columns(columns =>
                            {
                            columns.Bound(o => o.CapChiHoi)
                                .Template(@<text><a href="@Url.Content("~/NhiemSo/ChiTietNhiemSo/"+item.ChurchId)">@item.CapChiHoi @item.ChurchName</a></text>).Column.Title = "Nhiệm sở";
                            columns.Bound(o => o.TenChucVu).Column.Title = "Chức vụ";
                                columns.Bound(o => o.Term).Template(@<text>@if (item.Term.HasValue)
                                                                           {
                                                                               @item.Term <text> </text>
                                                                               @item.TermType
                                                                           }
                                                                     </text>).Column.Title = "Nhiệm kỳ";
                            columns.Bound(o => o.StartDate).Format("{0:dd/MM/yyyy}").Column.Title = "Từ ngày";
                            columns.Bound(o => o.EndDate).Format("{0:dd/MM/yyyy}").Column.Title = "Đến ngày";
                            columns.Bound(o => o.TyLeLuu).Column.Title = "Tỉ lệ lưu/mời";
                            columns.Bound(o => o.TermNumber).Column.Title = "NK thứ";
                            columns.Bound(o => o.Paper).Template(
                                @<text>@if (!string.IsNullOrWhiteSpace(item.Paper))
                                       {
                                           <a href="@Url.Content(string.Format("{0}?iframe=true&width=90%&height=100%", item.Paper))" rel="prettyPhoto[iframe]"><button class='btn btn-xs btn-info'>@item.PaperNumber</button> </a>
                                       }
                                 </text>).HtmlAttributes(new { @style = "text-align:left" }).Column.Title = "Giáo vụ lệnh";
                            columns.Bound(o => o.ChinhQuyenCN).Template(
                                @<text>@if (!string.IsNullOrWhiteSpace(item.ChinhQuyenCN))
                                {
                                    <a href="@Url.Content(string.Format("{0}?iframe=true&width=90%&height=100%", item.ChinhQuyenCN))" rel="prettyPhoto[iframe]"><button class='btn btn-xs btn-info'>@item.ChinhQuyenCNSo</button> </a>
                                }
                                </text>).HtmlAttributes(new { @style = "text-align:left" }).Column.Title = "CQ Công nhận";
                                columns.Command(commands => commands
                                    .Custom("Edit")
                                    .Text("Chỉnh sửa")
                                    .DataRouteValues(route => route.Add(o => o.id).RouteKey("Id"))
                                    .Action("Edit", "Admin/Clergy_AssignmentHistory"))
                                    .HtmlAttributes(new { style = "text-align: center" });
                                columns.Command(commands => commands
                                    .Custom("Delete")
                                    .Text("Xóa")
                                    .DataRouteValues(route => route.Add(o => o.id).RouteKey("Id"))
                                    .Action("Delete", "Admin/Clergy_AssignmentHistory"))
                                    .HtmlAttributes(new { style = "text-align: center" });
                            })
}
                    
                <br/>    <a href="@Url.Content(string.Format("~/Admin/Clergy_AssignmentHistory/Create?cleargyid={0}", Model.Id))" class="btn-success btn" >Thêm nhiệm sở</a>
            </div>
        </div>
       <div class="panel panel-default">
            <header class="panel-heading">
               <div class="panel-actions">
					<a href="#" class="fa fa-caret-down"></a>
				</div>
                <h2 class="panel-title">Gián đoạn chức vụ</h2> 
            </header>
            <div class="panel-body">
                @if (Model.Clergy_Conduct.Count > 0)
                {
                        @Html.Kendo().Grid(Model.Clergy_Conduct).Name("GianDoanChucVu").Columns(columns =>
                   {
                       columns.Bound(o => o.Fromdate).Format("{0:dd/MM/yyyy}").Column.Title = "Từ ngày";
                       columns.Bound(o => o.ToDate).Format("{0:dd/MM/yyyy}").Column.Title = "Đến ngày";
                       columns.Bound(o => o.Paper).Format("{0:dd/MM/yyyy}").Column.Title = "Lý do";
                       columns.Bound(o => o.Paper).Template(
                                @<text>@if (!string.IsNullOrWhiteSpace(item.VanBan))
                                       {
                                           <a href="@Url.Content(string.Format("{0}?iframe=true&width=90%&height=100%", item.VanBan))" rel="prettyPhoto[iframe]"><button class='btn btn-xs btn-info'>@item.SoVanBan</button> </a>
                                       }
                                 </text>).Column.Title = "Văn bản";
                       columns.Command(commands => commands.Custom("Edit").Text("Chỉnh sửa").DataRouteValues(route => route.Add(o => o.id).RouteKey("Id")).Action("Edit", "GianDoanChucVu")).Width(120);
                       columns.Command(commands => commands.Custom("Delete").Text("Xóa").DataRouteValues(route => route.Add(o => o.id).RouteKey("Id")).Action("Delete", "GianDoanChucVu")).Width(80);
                   })
                }
                    
                <br/>    <a href="@Url.Content(string.Format("~/GianDoanChucVu/Create?cleargyid={0}", Model.Id))" class="btn-success btn" >Thêm gián đoạn chức vụ</a>
            </div>
        </div>
    </div>
</form>
		

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $("area[rel^='prettyPhoto']").prettyPhoto();

        $("a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'fast', theme: 'light_square', slideshow: 3000, hideflash: true, social_tools: false });
    });
</script>