<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta charset="utf-8">
    <title>Hội Thánh Tin Lành Việt Nam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <link rel="shortcut icon" href="@Url.Content("~/Content/Content/img/ico-tinlanh.ico")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Content/css/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Content/css/plugins.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Content/css/main.css")">
        <link rel="stylesheet" href="@Url.Content("~/Content/Content/css/themes.css")">
        <link rel="stylesheet" href="@Url.Content("~/Content/Content/css/chosen.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/icons/icol16.css")" media="screen">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/icons/icol32.css")" media="screen">
       
    <link type="text/css" href="/asset.axd?id=kwAAAB-LCAAAAAAABABVjkEOQDAURO8y66aUsOjWMcRC6ksErfCJRHp3PyzEbubNW8yFDra-sMCiCp7JMxT6h3lhTBOtw6hdmOfgtds2mQNsGtVf6Khv94k_w8QmNgqOH-nk5F0OqVlqcp3p0hgBTg7kZSEBlted4g0n3N_AkwAAAA%3d%3d" rel="stylesheet"/>

</head>
<body class="login">
 @RenderBody()
 
  @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>        !window.jQuery && document.write(unescape('%3Cscript src="js/vendor/jquery-1.11.0.min.js"%3E%3C/script%3E'));</script>*@
     <script src="@Url.Content("~/Content/js/vendor/modernizr-2.7.1-respond-1.4.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/vendor/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/main.js")"></script>
    
</body>
</html>
