@using HTTLVN.QLTLH.Code
@using HTTLVN.QLTLH.Models
@model HTTLVN.QLTLH.Models.Church_HoGiaDinh
@{
    ViewBag.Title = "TinHuuEdit";
    Layout = "~/Views/Shared/_LayoutTinHuu.cshtml";
    var erros = (Dictionary<string, string>)ViewBag.Errors;
    var messages = (List<string>)ViewBag.Message;
    string imagePath = !string.IsNullOrEmpty(Model.BigImages) ? Model.BigImages : "~/Content/Content/img/placeholders/image_dark_64x64.png";
}


<form method="post" class="form-horizontal form-box" enctype="multipart/form-data"
      id="basic-wizard">
    <h4 class="form-box-header">
        Thông tin hộ gia đình: <a class="capital" href="@Url.Content(string.Format("~/TinHuu/TinHuuDetail/{0}", @Model.Church_TinHuu.Id))" style="color:#DB4A39">
                                   @Model.Church_TinHuu.FirstName @Model.Church_TinHuu.MiddleName @Model.Church_TinHuu.LastName
                               </a>
    </h4>
    <div class="form-box-content">
        <div id="first" class="step">
            @if (erros != null && erros.Count > 0)
        {
                <div class="eUserError">
                    <div style="margin-left: 40px;">
                        Có lỗi xảy ra, xin kiểm tra lại!
                    </div>
                    <ul class="related fixedwidth list-arrow-bold">
                        @foreach (var str in erros)
                    {
                            <li>@str.Value</li>
                    }
                    </ul>
                </div>
        }
            @if (messages != null && messages.Count > 0)
        {
                <div class="eUserMessage">
                    <ul class="related fixedwidth list-arrow-bold">
                        @foreach (var str in messages)
                    {
                            <li>@str</li>
                    }
                    </ul>
                </div>
        }
            <div class="form-group">
                <label class="control-label col-md-2">
                    Thông tin chủ hộ:
                </label>
                <div class="col-md-10">
                    <ul class="fa-ul">
                        <li>
                            <i class="fa fa-li fa-angle-right"></i><span class="capital">
                                                                       <a href="@Url.Content("~/TinHuu/HoGiaDinhThanhVienEdit/"+Model.Church_TinHuu.Id)">
                                                                           Họ và tên: @Model.Church_TinHuu.FirstName @Model.Church_TinHuu.MiddleName @Model.Church_TinHuu.LastName
                                                                       </a>
                                                                   </span>
                        </li>
                        @if (Model.Church_TinHuu.NickName != null)
                        {
                            <li><i class="fa fa-li fa-angle-right"></i> <em>Tên gọi khác:</em>@Model.Church_TinHuu.NickName </li>
                        }

                        <li><i class="fa fa-li fa-angle-right"></i> <em>Ngày sinh:</em> @Model.Church_TinHuu.DateOfBirth</li>
                        <li><i class="fa fa-li fa-angle-right"></i> <em>Nghề nghiệp:</em> @Model.Church_TinHuu.NgheNghiep</li>
                        @if (Model.Church_TinHuu.MobilePhone != null)
                        {
                            <li><i class="fa fa-li fa-angle-right"></i> <em>Di động:</em> @CommonFunction.ConvertDouble(Model.Church_TinHuu.MobilePhone)</li>
                        }
                        @if (Model.Church_TinHuu.Phone != null)
                        {
                            <li><i class="fa fa-li fa-angle-right"></i> <em>Bàn:</em> @CommonFunction.ConvertDouble(Model.Church_TinHuu.Phone)</li>
                        }
                        <li><i class="fa fa-li fa-angle-right"></i> <em>Quan hệ gia đình:</em> @Model.Church_TinHuu.QuanHeGiaDinh</li>
                        <li>
                            <i class="fa fa-li fa-angle-right"></i> <em>Giới tính:</em> @if (Model.Church_TinHuu.Gender)
                                                                                        {<text>Nam</text>}
                                                                                        else
                                                                                        {<text>Nữ</text>}
                        </li>
                        @if (Model.Church_TinHuu.Church_TinHuu_Addresses != null)
                        {
                            <li><i class="fa fa-li fa-angle-right"></i> <em>Địa chỉ:</em> @Helper.DisplayAddress2(Model.Church_TinHuu.Church_TinHuu_Addresses)</li>
                        }
                    </ul>
                </div>
            </div>

            <div class="form-group">
                @Html.HiddenFor(a=>a.id)
                @Html.HiddenFor(a => a.Church_TinHuu.Id)
                <label class="control-label col-md-2">
                    Hình đại diện:
                </label>
                <div class="col-md-1">
                    @if (Model.BigImages != null && !string.IsNullOrEmpty(Model.BigImages))
                    {
                        <img src="@Url.Content(Model.BigImages)" width="80px" id="Avatar" class="img-responsive" class="media-object" alt="image" />
                    }
                    else
                    {
                        <img width="80px" src="@Url.Content("~/Content/Content/img/placeholders/image_dark_64x64.png")" id="Avatar" class="media-object" alt="image" />
                    }
                </div>
                <div class="col-md-2">
                    <label>
                        <input type="file" name="hinhdaidien" id="hinhdaidien" onchange="readURL(this);" />
                        <span class="btn btn-default">Chọn hình</span>
                    </label>
                    @if (Model.BigImages != null && !string.IsNullOrEmpty(Model.BigImages))
                    {
                        <input type="submit" name="btnDeleteImage" value="Xóa hình" class="btn btn-danger" />
                    }
                </div>
            </div>
            <div class="form-group form-actions">
                <div class="col-md-10 col-md-offset-2">
                    <input type="submit" class="btn btn-success" name="next" id="next" value="Lưu" />
                </div>
            </div>
        </div>
    </div>
</form>
<style>
    label input[type="file"] {
        position: fixed;
        top: -1000px;
    }
</style>
<script type="text/javascript" language="javascript">

    function readURL(input) {

        if (input.files && input.files[0]) {//Check if input has files.
            var reader = new FileReader(); //Initialize FileReader.

            reader.onload = function (e) {
                $('#Avatar').attr('src', e.target.result);
                $("#Avatar").resizable({ aspectRatio: true, maxHeight: 300 });
            };
            reader.readAsDataURL(input.files[0]);
        }
        else {
            $('#Avatar').attr('src', "#");
        }


    }
    function ShowDateOfDead() {
        if ($('#is_dead').is(":checked")) {
            $('#DateOfDeath').show();
        } else $('#DateOfDeath').hide();
    }
</script>
