@model HTTLVN.QLTLH.Models.Clergy_AssignmentHistory

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Delete";
}
<form method="post" class="form-horizontal form-box" enctype="multipart/form-data"  id="basic-wizard">
    @if (ViewBag.IsCurrent != null && (bool) ViewBag.IsCurrent)
    {
        <h4 class="form-box-header">
            <span style="color:red">Nhiệm sở đang hầu việc Chúa. Không được xóa!</span>
        </h4>
    }
    else
    {
    <h4 class="form-box-header">Bạn có chắc xóa nội dung sau?</h4>    
    }
    
    <div class="form-box-content">
        <div id="first" class="step">
            <div class="form-group">
                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.ClergyId)
                <label class="control-label col-md-2">@Html.LabelFor(model => model.Clergy.FirstName, "Giáo phẩm")</label>
                <div class=" col-md-2">
                    <p class="form-control-static">@Html.DisplayFor(model => model.Clergy.FirstName) @Html.DisplayFor(model => model.Clergy.MiddleName) @Html.DisplayFor(model => model.Clergy.LastName) </p>
                </div>
            </div>    
            <div class="form-group">
                <label class="control-label col-md-2">@Html.LabelFor(model => model.Church, "Nhiệm sở")</label>
                <div class=" col-md-2">
                    <p class="form-control-static">
                        @Html.DisplayFor(model => model.Church.ChurchName) 
                    </p>
                </div>
            </div>
            <div class="form-group">
                @if (Model.ChucVuId > 0)
                {
                    <label class="control-label col-md-2">@Html.LabelFor(model => model.ChucVuId, "Chức vụ")</label>
                    <div class=" col-md-2">
                        <p class="form-control-static">
                            @Html.DisplayFor(model => model.ChucVu.Name) 
                        </p>
                    </div>
                }
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">@Html.LabelFor(model => model.StartDate, "Từ ngày")</label>
                <div class=" col-md-1">
                    <p class="form-control-static">
                        @Model.StartDate
                    </p>
                </div>
                
                <label class="control-label col-md-1">@Html.LabelFor(model => model.EndDate, "Đến ngày")</label>
                <div class=" col-md-1">
                    <p class="form-control-static">
                        @Model.EndDate
                    </p>
                </div>
            </div>            
            <div class="form-group">
                <label class="control-label col-md-2"></label>
                <div class="col-md-2">
                     @if (ViewBag.IsCurrent != null && (bool) ViewBag.IsCurrent)
                     {
                     }
                     else
                     {
                         <input type="submit" value="Xóa"  class="btn btn-primary"/>
                     }
                    
                    <a href="@Url.Content(string.Format("~/home/MucsuThongTinChucVu/{0}", Model.ClergyId))" class="btn btn-primary">Quay lại</a>       
                </div>
            </div>
        </div>
    </div>
</form>